$form-label-color: #221f4d;
$form-label-font-size: 12px;
$form-input-control-height: 30px;
$form-margin-between-controls: 20px;

$button-height: 30px;
$button-color: #ffffff;
$button-background-color: #0f5ef0;
$button-hover-background-color: #0c4bc0;

:host {
    display: flex;
    justify-content: center;   
}
form {
    width: 300px;
    margin-top: 40px;

    
    .form-group {
        margin-bottom: $form-margin-between-controls;

        &:last-child {
            margin-bottom: 30px;
        }

        label {
            display: block;
            font-size: $form-label-font-size;
            color: $form-label-color;
        }
        input {
            width: calc( 100% - 22px);
            padding: 0 10px;
            height: $form-input-control-height;
            color: $form-label-color;
            border: 1px solid $form-label-color;

            &::-webkit-input-placeholder {
                opacity: 0.5;
            }

            &:-ms-input-placeholder {
                opacity: 0.5;
            }

            &::placeholder {
                opacity: 0.5;
            }
        }        
    }

    button {
        width: 100%;;
        color: $button-color;
        background-color: $button-background-color;
        border: 1px solid $button-background-color;
        height: $button-height;

        &:hover {
            background-color: $button-hover-background-color;
            border: 1px solid $button-hover-background-color
        }
    }
}