$table-font-size: 12px;
$table-border-color: #ced8e4;
$table-header-color: #221F4D;
$table-cell-padding: 10px 10px 10px 15px;

$table-even-row-background-color: #F5F8FA;

$table-row-hover-background-color: #E7EFFD;
$table-row-hover-border-color: #0F5EF0;

:host {
    display: flex;
    justify-content: center;
}

table {
    width: 800px;
    font-size: $table-font-size;
    border-collapse: collapse;
    border: 1px solid $table-border-color;

    th {
        cursor: pointer;
        text-align: left;
        font-family: 'OpenSans-semibold';
        color: $table-header-color;
        background-color: $table-border-color;
        padding: $table-cell-padding;

        &:not(:last-child) {
            border-right: 1px solid $table-header-color;
        }
    }
    td {
        padding: $table-cell-padding;
        color: $table-header-color;
        border: 0px;
    }

    tbody tr {
        &:hover {
            background-color: $table-row-hover-background-color;
            outline: 1px solid $table-row-hover-border-color ;
        }

        &:nth-child(even) {
            background-color: $table-even-row-background-color;
        }
    }
}

.fa {
    float: right;
    &.disabled {
        opacity: .1 !important;
    }
}