.navbar ul {
    li {
        list-style: none;
        display: inline-block;
        a {
            text-decoration: none;
            padding: 20px;
            font-family: 'OpenSans-semibold';
            font-size: 15px;
            color: #221F4D;
        }
    }
}