@import './../../../../app/scss/_fonts.scss';
.navbar ul {
    li {
        list-style: none;
        display: inline-block;
        a {
            @extend .font-semibold ;
            padding: 20px;
            text-decoration: none;
            color: #0f5ef0;
        }
    }
}